.apiclient-view-container {
  padding: 8px 14px;
  background: url("./apiclient-container-bg.png") 50% / cover no-repeat;
  border: none;

  .api-client-text {
    flex: 1;
    min-width: 0;
    padding-right: 12px;

    .heading {
      line-height: 20px;
    }

    .subtitle {
      font-size: 12px;
      color: var(--text-light);
      letter-spacing: 0.4px;
    }
  }
}
